<div>
  {{> 'systems/mythras-scala/templates/parts/character-sheet/attribute-with-skills.hbs' composites.priestcraft }}
  {{> 'systems/mythras-scala/templates/parts/character-sheet/attribute-with-skills.hbs' composites.witchcraft }}
</div>
