.app.window-app.mythras.sheet.actor.character {
  .window-content {

    padding: 0;

    .sheet-header {
      background: url("../assets/ui/szarfa.webp") repeat-x;
      min-height: 310px;
      align-items: flex-start;
      padding-top: 50px;

      input[type="text"],
      & {
        color: @color-white;
      }

      input[type="text"].name {
        font-family: "Cinzel Decorative", serif;
        font-size: 48px;
        height: unset;
        border: 0;

        &:focus {
          box-shadow: none;
          border-bottom: 1px solid @color-white;
        }
      }

      .sheet-header-left {
        margin-left: 20px;
      }

      .sheet-header-right {
        margin-right: 20px;

        .counters {
          display: grid;
          grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr) 1fr 0.5fr 1fr;
          grid-row-gap: 5px;
          grid-column-gap: 10px;
          grid-template-rows: repeat(2, min-content);
          margin-right: 10px;

          .counter-value {
            font-family: 'Cinzel', serif;
            font-size: 46px;
            line-height: 1;
            text-align: center;
          }

          input[type="number"].counter-value {
            color: @color-white;
            border: 0;
            line-height: 1;
            height: 46px;
            padding: 0;
            text-align: right;
            min-width: min-content;

            &:focus {
              box-shadow: none;
              border-bottom: 1px solid @color-white;
            }

            &.center {
              text-align: center;
            }
          }

          .counter-value-max {
            font-family: 'Cinzel', serif;
            font-size: 24px;
          }

          .counter-label {
            font-family: 'Grenze', serif;
            font-variant: small-caps;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;

            &.span {
              grid-column-end: span 2;
              text-align: center;
            }
          }
        }

        .profile-img {
          width: 200px;
          height: 200px;
          border: 1px solid @color-white;
        }
      }
    }

    nav.sheet-tabs.tabs {
      border: 0;
      color: @color-almost-black;

      .item {
        font-family: 'Grenze', serif;
        font-variant: small-caps;
        font-size: 30px;
        font-weight: 500;
      }

      a:hover,
      [data-tab].active {
        text-shadow: 0 0 5px @color-stormy-blue;
      }

      [data-tab] {
        padding: 0;
      }
    }

    .sheet-body {
      .character {
        display: flex;
        flex-direction: row;

        & > div {
          flex: 1 1 0px;
          margin: 15px;
        }

        .characteristics {

          .characteristic {
            flex: 1 1 0px;
            width: 0;
            align-items: center;

            .value {
              font-family: 'Cinzel', serif;
              font-size: 36px;
              font-weight: 500;
              line-height: 1;
              text-align: center;
              border: 0;
              background: none;

              &:focus {
                box-shadow: none;
                border-bottom: 1px solid @color-dark-maroon;
              }
            }

            .label {
              font-family: 'Grenze', serif;
              font-variant: small-caps;
              font-weight: 700;
              font-size: 24px;
              transform: scaleX(0.7);
            }
          }
        }
      }
    }
  }
}

